<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
   <a class="navbar-brand" href="#" (click)="reset()">Angular Keycloak Implementation</a>
   <button class="navbar-toggler"
         type="button"
         data-toggle="collapse"
         data-target="#navbarCollapse"
         aria-controls="navbarCollapse"
         aria-expanded="false"
         aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item">
            <a (click)="getUserInfoFromToken()" class="nav-link">Get User Information From Token</a>
         </li>
         <li class="nav-item">
            <a (click)="getUsersFromJsonApi()" class="nav-link">Get User List From API</a>
         </li>
      </ul>
      <div class="navbar-nav mt-2 mt-md-0">
         <button (click)="logout()" class="btn btn-outline-info my-2 my-sm-0" type="button">Logout</button>
      </div>
   </div>
</nav>

<div class="container">
   <div *ngIf="!isTokenCardVisible && !isAPICardsVisible" class="jumbotron">
      <br/>
      <h1 class="text-center">Click on the menu items</h1>
   </div>
   <div *ngIf="isTokenCardVisible" class="jumbotron">
      <h1 class="text-center">{{titleToken}}</h1>
      <hr/>
      <div class="card" style="width: 25rem;">
         <div class="card-body text-center">
            <h4 class="card-title">Logged In User Information</h4>
            <p class="card-text">Username - {{username}}</p>
            <p class="card-text">Full Name - {{fullName}}</p>
         </div>
      </div>
   </div>
</div>

<br/>

<div *ngIf="isAPICardsVisible" class="jumbotron">
   <h1 class="text-center">{{titleAPIList}}</h1>
   <hr/>
   <div class="card-deck">
      <div *ngFor="let userItem of usersArray" class="card" style="width: 25rem;">
         <div class="card-body text-center">
            <h4 class="card-title">User Information Card {{userItem.id}}</h4>
            <p class="card-text">Username - {{userItem.username}}</p>
            <p class="card-text">Full Name - {{userItem.fullName}}</p>
         </div>
      </div>
   </div>
</div>
